spring:
  application:
    name: ecom

  datasource:
    url: jdbc:postgresql://localhost:5432/ecom
    username: postgres
    password: admin

    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
      pool-name: EcomHikariPool

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: info
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace


jwt:
  secret: bW92aW5nYnVzeXdoZXRoZXJmbHl3aWRlc3BhY2VwYWNrd2Fyc29sYXJzZXR0aW5nd2U=
